
<!DOCTYPE html>
<html lang="ro">
<head>
    <title>O pagina</title>
    <meta charset="utf-8">
</head>
<body class="container">

<!-- headerul care se repeta pagina de pagina -->
<%- include("../views/header") %>

<p>Niste continut specific paginii pe care ne aflam</p>

<%- include("../views/footer") %>

</body>
</html>