<header>
    <nav>
    <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/add_angajat">Adauga Angajat in Baza de date</a></li>
            <li><a href="/list_angajati">Lista de angajati</a></li>
            <li><a href="/list_demisi">Lista de angajati demisi</a></li>
        </ul>
    </nav>
</header>